<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- standard charset -->
    <meta charset="utf-8">
    <!-- meta tag fot reponsive development -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- open sans font link -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!-- css file link -->
    <link rel="stylesheet" href="../css/styles.css">
    <!-- browser tab text -->
    <title>Content Alignment</title>
  </head>
  <body>
    <h2 class="page_title">Ways to Align Items</h2>
    <!-- include main js file script -->
    <script src="../js/main.js"></script>
  </body>
</html>

<!--
  TODO:
    create navbar
    possibly split up content into two columns, one for selection and the other for result?
    use radio buttons to allow users to make selections
    create links to other pages in navbar, such as for future additions/ border box properties
    make simple text, input, and button content to target for alignment
    bring in bootstrap 3? could custom css everything
    set border box property in css file. check css hacks site
-->
